rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // User account documents
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Individual user workspaces
    match /workspaces/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
